/* *{
    margin: 0;
      padding: 0;
      vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
  } */


  * {
      border: 1px solid blue;
      font-family: 'Raleway', sans-serif;
      /* vertical-align: baseline;
      padding: 0;
      margin: 0; */
  }