* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  vertical-align: baseline;
  /* border: 1px solid blue; */
}

body {
  font-family: "Verdana", sans-serif;
  padding: 0;
  margin: 5px;
  overflow-x: hidden;
  font-size: .5em;
}

button {
  background: none;
  color: green;
  text-transform: uppercase;
  border-radius: 15%;
  padding: .5em;
  font-weight: bold;
  font-size: 1em;
}

h1,
h2,
h3 {
  font-size: 1em;
  font-family: "Verdana", sans-serif;
}

p {
  font-size: .5em;
}

button:hover {
  color: red;
  background-color: green;
  font-weight: bold;
}

.main-section {
  background-color: #EEEEEE;
}

.header-nav-container,
.header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #861111;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  padding-top: 2.5em;
  font-size: 1.25em;
}

.icon {
  height: 5vh;
  width: 5vw;
}

.header1 {
  margin-top: 1em;
  padding-top: 5em;
}

.header-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mexico-main-image {
  height: 10vh;
  width: 5vw;
}

.main-title {
  font-size: 4em;
}

.heading {
  font-size: 3em;
  height: 16vh;
  margin-left: .5em;
}

.button {
  border: none;
  cursor: pointer;
}

.main-tour-container {
  height: 375vh;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1.5fr)[8];
      grid-template-rows: repeat(8, 1.5fr);
  grid-gap: 3%;
  grid-column-gap: 0%;
  height: 105vh;
  margin-left: 2em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-section {
  margin-top: 1.5em;
}

.text-info-box {
  background-color: #d6d3d3e6;
  border-radius: .5em;
  padding: 1em;
}

.image-container {
  position: relative;
}

.tour-image {
  border-radius: .5em;
  width: 50vw;
  height: 30vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.plane-icon {
  height: 3em;
  width: 3em;
  position: absolute;
}

.plane-icon::hover {
  cursor: pointer;
}

.booking-info {
  height: 8em;
  width: 8em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 5px;
  bottom: 15px;
  background-color: white;
  border: 1px solid gray;
  font-size: .5em;
  border-radius: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travel-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 7px 2px 20px 0px;
          box-shadow: 7px 2px 20px 0px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  width: 50vw;
  height: 55vh;
  border-radius: 1em;
  margin-left: 20%;
  font-size: 1.75em;
}

/* mobile styles */
/* small tablet styles */
@media screen and (min-width: 620px) {
  body {
    font-size: .5em;
  }
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1.5fr)[4];
        grid-template-rows: repeat(4, 1.5fr);
    grid-gap: 3%;
    grid-column-gap: 0%;
    height: 105vh;
  }
  .main-tour-container {
    height: 275vh;
  }
  .travel-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 7px 2px 20px 0px;
            box-shadow: 7px 2px 20px 0px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 35vw;
    height: 60vh;
    margin-left: 5%;
    font-size: 2.5em;
  }
  .tour-image {
    border-radius: .5em;
    width: 35vw;
    height: 25vh;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 1em;
  }
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1.5fr)[3];
        grid-template-rows: repeat(3, 1.5fr);
    grid-gap: 3%;
    grid-column-gap: 0%;
    height: 105vh;
  }
  .main-tour-container {
    height: 250vh;
  }
  .travel-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 21vw;
    height: 65vh;
    font-size: 1.5em;
  }
  .booking-info {
    height: 5em;
    width: 5em;
  }
  .header1 {
    margin-top: 1em;
    padding-top: 3em;
  }
  .header-nav-container {
    padding-top: 1em;
  }
  .icon {
    height: 5vh;
    width: 3vw;
  }
  .tour-image {
    border-radius: .5em;
    width: 20vw;
    height: 25vh;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 1em;
  }
  .travel-info-container {
    width: 21vw;
    height: 60vh;
    margin: 2%;
    font-size: 1.5em;
  }
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1.5fr)[2];
        grid-template-rows: repeat(2, 1.5fr);
    grid-gap: 3%;
    grid-column-gap: 0%;
    height: 105vh;
  }
  .main-tour-container {
    height: 200vh;
  }
  .header1 {
    margin-top: 1em;
    padding-top: 2em;
  }
}
/*# sourceMappingURL=style.css.map */