* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  vertical-align: baseline;
  /* border: 1px solid blue; */
}

body {
  font-family: "Verdana", sans-serif;
  padding: 0;
  margin: 5px;
  overflow-x: hidden;
  font-size: .5em;
}

button {
  background: none;
  color: green;
  text-transform: uppercase;
}

button:hover {
  color: red;
  background-color: purple;
}

h1,
h2,
h3 {
  font-size: 1em;
  font-family: "Verdana", sans-serif;
}

p {
  font-size: .5em;
}

.main-section {
  background-color: #EEEEEE;
}

.header-nav {
  /* display: flex; */
  background-color: #242424;
  color: white;
  height: 20vh;
}

.heading {
  font-size: 2em;
  height: 16vh;
}

.button {
  border: none;
  cursor: pointer;
}

.main-tour-container {
  height: 275vh;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1.5fr)[4];
      grid-template-rows: repeat(4, 1.5fr);
  grid-gap: 3%;
  grid-column-gap: 0%;
  height: 105vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-container {
  position: relative;
}

.tour-image {
  border-radius: 0px;
  width: 20vw;
  height: 25vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.plane-icon,
.booking-info {
  height: 50px;
  width: 50px;
  position: absolute;
}

.booking-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 45px;
  bottom: 30px;
  background-color: white;
  border: 1px solid gray;
  font-size: .5em;
  border-radius: 80%;
}

.booked {
  font-size: .75em;
}

.booked-count {
  font-size: 1.25em;
}

.travel-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 7px 2px 20px 0px;
          box-shadow: 7px 2px 20px 0px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  width: 21vw;
  height: 58vh;
}

/* mobile styles */
/* small tablet styles */
@media screen and (min-width: 620px) {
  body {
    font-size: .5em;
  }
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1.5fr)[4];
        grid-template-rows: repeat(4, 1.5fr);
    grid-gap: 3%;
    grid-column-gap: 0%;
    height: 105vh;
  }
  .main-tour-container {
    height: 275vh;
  }
  .travel-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 7px 2px 20px 0px;
            box-shadow: 7px 2px 20px 0px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 35vw;
    height: 40vh;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 1em;
  }
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1.5fr)[3];
        grid-template-rows: repeat(3, 1.5fr);
    grid-gap: 3%;
    grid-column-gap: 0%;
    height: 105vh;
  }
  .main-tour-container {
    height: 200vh;
  }
  .travel-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 7px 2px 20px 0px;
            box-shadow: 7px 2px 20px 0px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 21vw;
    height: 45vh;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 2em;
  }
  .travel-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 7px 2px 20px 0px;
            box-shadow: 7px 2px 20px 0px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 21vw;
    height: 65vh;
  }
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1.5fr)[2];
        grid-template-rows: repeat(2, 1.5fr);
    grid-gap: 3%;
    grid-column-gap: 0%;
    height: 105vh;
  }
  .main-tour-container {
    height: 200vh;
  }
}
/*# sourceMappingURL=style.css.map */